<div id="<%= dom_id store %>">
  <p>
    <strong>Name:</strong>
    <%= store.name %>
  </p>

  <% if store.image.attached? %>
    <%= link_to image_tag(store.image.variant(:thumb)), store.image %>
  <% else %>
    <p>Imagem não disponível</p>
  <% end %>

</div>
