<div class="corner-space">
  <h1>Editar loja</h1>

  <%= render "form", store: @store %>

  <br>

  <div>
    <%= link_to "Mostrar essa loja", @store %> |
    <%= link_to "Voltar para lojas", stores_path %>
  </div>

</div>